/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
  height: 581px;
  background-image: url(../Img/Home_page_Images/landingImage.jpg);
  background-size: 100% auto;
  max-width: 1440px;
}
header .header_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
header .header_content h1 {
  font-size: 5.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 3%;
  height: 100px;
}
header .header_content h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  margin-left: 7%;
  height: 100px;
  padding-top: 28px;
}
header .header_content button {
  margin-left: 12%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: #E97676;
  width: 350px;
  height: 65px;
  border: none;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  width: 9%;
}
nav .logInBTN {
  margin-right: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #E97676;
  border: none;
  width: 105px;
  height: 36px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  width: 100%;
  height: 581px;
  background-image: url(../Img/About_Page_Images/action-adult-asphalt-343469.jpg);
  background-size: 100% auto;
  max-width: 1440px;
}
header .header_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
header .header_content h1 {
  font-size: 5.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 3%;
  height: 100px;
}
header .header_content h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  margin-left: 7%;
  height: 100px;
  padding-top: 28px;
}
header .header_content button {
  margin-left: 12%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: #E97676;
  width: 350px;
  height: 65px;
  border: none;
}
.about .middle_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 3px red;
}
.about h1 {
  font-size: 5rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  height: 100px;
}
.about p {
  font-size: 1rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
