/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  margin: auto;
  width: 100%;
  height: 581px;
  background-size: cover;
  max-width: 1440px;
}
@media only screen and (max-width: 1189px) {
  header {
    height: 481px;
  }
}
@media only screen and (max-width: 983px) {
  header {
    height: 400px;
  }
}
@media only screen and (max-width: 710px) {
  header {
    height: 350px;
  }
}
@media only screen and (max-width: 710px) {
  header {
    height: 300px;
  }
}
header .header_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  header .header_content {
    align-items: center;
    height: 187px;
  }
}
@media only screen and (max-width: 715px) {
  header .header_content {
    height: 150px;
    margin-top: 0;
  }
}
header .header_content h1 {
  font-size: 5.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 3%;
  height: 100px;
}
@media only screen and (max-width: 992px) {
  header .header_content h1 {
    margin: auto;
    font-size: 5rem;
  }
}
@media only screen and (max-width: 710px) {
  header .header_content h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  header .header_content h1 {
    font-size: 3rem;
    height: 50px;
  }
}
header .header_content h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  margin-left: 7%;
  height: 100px;
  padding-top: 28px;
}
@media only screen and (max-width: 992px) {
  header .header_content h2 {
    margin: auto;
    font-size: 1.7rem;
    padding: 0;
    height: 50px;
  }
}
@media only screen and (max-width: 710px) {
  header .header_content h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 600px) {
  header .header_content h2 {
    font-size: 1.2rem;
    height: 28px;
  }
}
header .header_content button {
  margin-left: 12%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: #E97676;
  width: 350px;
  height: 65px;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 998px) {
  header .header_content button {
    margin: auto;
    font-size: 1.5rem;
    width: 240px;
    height: 36px;
  }
}
@media only screen and (max-width: 600px) {
  header .header_content button {
    margin: auto;
    font-size: 1.2rem;
    width: 188px;
    height: 25px;
  }
}
header .logInBTN2:hover {
  color: #E97676;
  background-color: #fff;
}
nav {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  max-width: 1440px;
  margin-right: 2%;
}
@media only screen and (max-width: 992px) {
  nav {
    display: flex;
    max-width: 992px;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    max-width: 600px;
    justify-content: space-evenly;
  }
}
nav ul {
  display: flex;
  width: 500px;
  align-items: center;
  margin-right: 2%;
}
@media only screen and (max-width: 600px) {
  nav ul {
    margin-right: 0;
  }
}
nav li {
  flex: 1 1 200px;
}
nav ul li a:hover {
  color: #E97676;
}
nav a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
nav .logInBTN {
  margin-right: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #E97676;
  border: none;
  width: 140px;
  height: 36px;
  cursor: pointer;
}
nav .logInBTN:hover {
  color: #fff;
  background: #E97676;
}
.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  height: 450px;
}
.footer .joinUsToday {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.footer .joinUsToday h1 {
  font-size: 4rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
@media only screen and (max-width: 998px) {
  .footer .joinUsToday h1 {
    font-size: 3.5rem;
  }
}
.footer .joinUsToday p {
  font-size: 2.5rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  max-width: 800px;
  text-align: center;
}
@media only screen and (max-width: 998px) {
  .footer .joinUsToday p {
    font-size: 1.8rem;
    max-width: 500px;
  }
}
.footer .joinUs {
  height: 80px;
}
.footer .footerBTN {
  display: flex;
  width: 750px;
  justify-content: space-evenly;
  margin-top: 30px;
}
@media only screen and (max-width: 750px) {
  .footer .footerBTN {
    max-width: 500px;
  }
}
.footer .footerBTN button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #E97676;
  width: 243px;
  height: 43px;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .footer .footerBTN button {
    width: 160px;
    height: 26px;
    font-size: 1rem;
  }
}
.footer .footerBTN button:hover {
  color: #E97676;
  background-color: #fff;
}
.footer .yellowFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #F0BC5E;
  width: 100%;
  height: 180px;
}
.footer .subscribe {
  display: flex;
  flex-direction: column;
  height: 140px;
}
.footer .subscribe h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  height: 54px;
  margin-top: 5px;
}
@media only screen and (max-width: 750px) {
  .footer .subscribe h2 {
    font-size: 2.5rem;
  }
}
.footer .subscribe h3 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  height: 48px;
  margin-top: 5px;
}
@media only screen and (max-width: 750px) {
  .footer .subscribe h3 {
    font-size: 1.5rem;
  }
}
.footer .email {
  display: flex;
  width: 750px;
  justify-content: space-evenly;
  margin-bottom: 6px;
  flex: 1 1 200px;
}
@media only screen and (max-width: 750px) {
  .footer .email {
    width: 500px;
  }
}
.footer .email input {
  width: 280px;
  height: 54px;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #C2C2C2;
}
@media only screen and (max-width: 998px) {
  .footer .email input {
    height: 37px;
    width: 230px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  .footer .email input {
    height: 27px;
    width: 197px;
    font-size: 1.2rem;
  }
}
.footer .email button {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #C2C2C2;
  border: none;
  width: 280px;
  height: 54px;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 998px) {
  .footer .email button {
    height: 37px;
    width: 230px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  .footer .email button {
    height: 27px;
    width: 197px;
    font-size: 1.2rem;
  }
}
.footer .email button:hover {
  color: #E97676;
  background-color: #fff;
}
.footer .iconRow {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  margin-top: 10px;
  opacity: 0.3;
}
.footer .iconRow img {
  height: auto;
  widows: auto;
  max-width: 35px;
  min-width: 35px;
}
.homePageImage {
  background-image: url(../Img/Home_page_Images/landingPageImage.jpg);
}
.headerTitle {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
  max-width: 1440px;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: Bold;
  color: #E97676;
}
.headerTitle p {
  width: 684px;
}
@media only screen and (max-width: 750px) {
  .headerTitle p {
    font-size: 2.5rem;
    width: 508px;
  }
}
@media only screen and (max-width: 550px) {
  .headerTitle p {
    font-size: 2rem;
    width: 508px;
    text-align: center;
  }
}
.featureIcons {
  margin: auto;
  max-width: 1440px;
  display: flex;
  height: 220px;
  margin-bottom: 45px;
}
@media only screen and (max-width: 998px) {
  .featureIcons {
    height: 440px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 900px) {
  .featureIcons {
    height: 660px;
  }
}
@media only screen and (max-width: 650px) {
  .featureIcons {
    height: 621px;
  }
}
@media only screen and (max-width: 600px) {
  .featureIcons {
    height: 1000px;
  }
}
.featInfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 998px) {
  .featInfo {
    flex: 1 1 300px;
    height: 200px;
  }
}
.featInfo img {
  width: 80px;
  height: 80px;
}
.featInfo h3 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}
.featInfo p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 200px;
  font-weight: 300;
  line-height: 20px;
}
.centerIMG {
  display: flex;
}
@media only screen and (max-width: 998px) {
  .centerIMG {
    display: none;
  }
}
.centerIMG img {
  margin: auto;
  height: 254px;
  max-width: 1440px;
}
.glance {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 144px;
  max-width: 1440px;
  margin-top: 45px;
}
@media only screen and (max-width: 900px) {
  .glance {
    max-width: 800px;
  }
}
@media only screen and (max-width: 750px) {
  .glance {
    max-width: 650px;
    height: 225px;
  }
}
.glance h1 {
  width: 100%;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 750px) {
  .glance h1 {
    font-size: 2.2rem;
  }
}
.glance p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  line-height: 20px;
  width: 80%;
}
@media only screen and (max-width: 750px) {
  .glance p {
    font-size: 0.9rem;
  }
}
.carousel {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 998px) {
  .carousel {
    flex-wrap: wrap;
    flex-basis: 350px;
    margin-top: 20px;
    height: 540px;
    justify-content: space-evenly;
    width: 758px;
  }
}
@media only screen and (max-width: 750px) {
  .carousel {
    flex-basis: 300px;
    height: 432px;
    width: 650px;
  }
}
@media only screen and (max-width: 650px) {
  .carousel {
    display: none;
  }
}
.carousel img {
  width: 350px;
  height: 250px;
}
@media only screen and (max-width: 750px) {
  .carousel img {
    width: 300px;
    height: 200px;
  }
}
.aboutPageImage {
  background-image: url(../Img/About_Page_Images/action-adult-asphalt-343469.jpg);
}
.aboutWunderList {
  max-width: 100%;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@media (max-width: 500px) {
  .aboutWunderList {
    padding: 5%;
    width: 100%;
    font-size: 2rem;
  }
}
.centerContent {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .centerContent {
    flex-direction: column;
  }
  .centerContent .contentArea1 {
    order: 1;
  }
  .centerContent .image1 {
    order: 2;
  }
  .centerContent .contentArea2 {
    order: 3;
  }
  .centerContent .image2 {
    order: 4;
  }
  .centerContent .contentArea3 {
    order: 5;
  }
  .centerContent .image3 {
    order: 6;
  }
}
.centerContent img {
  width: 100%;
}
.centerContent .contentArea1,
.centerContent .contentArea2,
.centerContent .contentArea3,
.centerContent .image1,
.centerContent .image2,
.centerContent .image3 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
@media (max-width: 500px) {
  .centerContent .contentArea1,
  .centerContent .contentArea2,
  .centerContent .contentArea3,
  .centerContent .image1,
  .centerContent .image2,
  .centerContent .image3 {
    width: 100%;
    padding: 5%;
  }
}
.centerContent p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 35px;
}
.contactPageImage {
  background-image: url(../Img/Contact_Page_Images/antique-black-communication-821754.jpg);
}
.ContactCenterContent {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1440px;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}
.ContactCenterContent h1 {
  max-width: 1440px;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .ContactCenterContent h1 {
    font-size: 2rem;
  }
}
.ContactCenterContent p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  line-height: 35px;
}
@media only screen and (max-width: 650px) {
  .ContactCenterContent p {
    font-size: 0.75rem;
  }
}
.contactForm {
  margin: auto;
  display: flex;
  height: 100px;
  max-width: 1440px;
  background-color: #F0BC5E;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .contactForm {
    flex-direction: column;
    height: 125px;
  }
}
.contactForm input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #C2C2C2;
}
@media only screen and (max-width: 1050px) {
  .contactForm input {
    width: 300px;
  }
}
@media only screen and (max-width: 650px) {
  .contactForm input {
    width: 500px;
  }
}
@media only screen and (max-width: 550px) {
  .contactForm input {
    width: 450px;
  }
}
.contactMessage {
  margin: auto;
  display: flex;
  height: 400px;
  max-width: 1440px;
  background-color: #F0BC5E;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1050px) {
  .contactMessage {
    height: 315px;
  }
}
@media only screen and (max-width: 760px) {
  .contactMessage {
    height: 250px;
  }
}
.contactMessage input {
  width: 1027px;
  height: 375px;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #C2C2C2;
}
@media only screen and (max-width: 1050px) {
  .contactMessage input {
    width: 729px;
    height: 300px;
  }
}
@media only screen and (max-width: 760px) {
  .contactMessage input {
    width: 500px;
    height: 235px;
  }
}
@media only screen and (max-width: 550px) {
  .contactMessage input {
    width: 450px;
  }
}
.blogPageImage {
  background-image: url(../Img/Blog_Images/antique-blog-blogger-1898254.jpg);
}
.blogEntry {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 850px;
  max-width: 1440px;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1055px) {
  .blogEntry {
    height: 1200px;
  }
}
@media only screen and (max-width: 650px) {
  .blogEntry {
    height: 1300px;
  }
}
.blogEntryText1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 410px;
}
@media only screen and (max-width: 1055px) {
  .blogEntryText1 {
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 550px;
  }
}
.blogEntryText2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 370px;
}
@media only screen and (max-width: 1055px) {
  .blogEntryText2 {
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 550px;
  }
}
.blogEntry h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin-top: 36px;
  width: 30%;
}
@media only screen and (max-width: 1055px) {
  .blogEntry h1 {
    margin-top: 0;
  }
}
.blogEntry h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  width: 30%;
}
@media only screen and (max-width: 1055px) {
  .blogEntry h2 {
    margin-bottom: 0;
  }
}
.blogEntry p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  width: 30%;
  margin-right: 10px;
}
@media only screen and (max-width: 1055px) {
  .blogEntry p {
    width: 57%;
    margin-top: 20px;
  }
}
.blogEntry img {
  width: 513.6px;
  height: 313.6px;
  border-radius: 10px;
}
@media only screen and (max-width: 1055px) {
  .blogEntry img {
    width: 438px;
    height: 268px;
  }
}
.blogEntry button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #E97676;
  width: 170px;
  height: 32px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}
@media only screen and (max-width: 1055px) {
  .blogEntry button {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
.blogEntry button:hover {
  color: #E97676;
  background-color: #fff;
}
.blogEntry2 img {
  width: 692px;
  height: 442px;
}
