// Home page 

.aboutPageImage {
  background-image: url(../Img/About_Page_Images/action-adult-asphalt-343469.jpg);


}

.aboutWunderList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 1440px;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.centerContent {
  display: flex;
  flex-wrap: wrap;
  // border: 10px solid goldenrod;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.centerContent img {
  width: 720px;
  height: 446px;
}

.centerContent p {
  width: 710px;
  height: 446px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 35px;

}

.contentArea p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}