.aboutPageImage {
  background-image: url(../Img/About_Page_Images/action-adult-asphalt-343469.jpg);
}
.aboutWunderList {
  max-width: 100%;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  @media(max-width:500px){
      padding: 5%;
      width: 100%;
      font-size: 2rem;
    }
}

.centerContent{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;

  @media(max-width:500px){
  		flex-direction: column;
      .contentArea1{
        order:1;
        }
        .image1{
          order:2;
        }
        .contentArea2{
          order:3;
        }
        .image2{
          order:4;
        }
        .contentArea3{
          order:5;
        }
        .image3{
          order:6;
        }
  	}

  img {
    width: 100%;
    }

.contentArea1, .contentArea2, .contentArea3, .image1, .image2, .image3 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;

  @media(max-width:500px){
  width: 100%;
  padding: 5%;
  }
}
   p {
    // padding: 3% 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 35px;
  }
}
