.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 250px;
  max-width: 1440px;
  height: 450px;
  //border: solid purple 10px;

  .joinUsToday {
    display: flex;
    flex-direction: column;
    width: 100%;
    //border: solid red 3px;
    align-items: center;
  }

  .joinUsToday h1 {
    font-size: 4rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;

    @media only screen and (max-width: 998px) {
      font-size: 3.5rem;
    }
  }

  .joinUsToday p {
    font-size: 2.5rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    max-width: 800px;
    text-align: center;

    @media only screen and (max-width: 998px) {
      font-size: 1.8rem;
      max-width: 500px;
    }
  }

  .joinUs {
    height: 80px;
  }

  // ------------------- Create Free Accout / Learn More button Strying

  .footerBTN {
    display: flex;
    width: 750px;
    //border: solid blue 3px;
    justify-content: space-evenly;
    margin-top: 30px;

    @media only screen and (max-width: 750px) {
      max-width: 500px;

    }

  }

  .footerBTN button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #E97676;
    width: 243px;
    height: 43px;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: 750px) {
      width: 160px;
      height: 26px;
      font-size: 1rem;
    }
  }

  .footerBTN button:hover {
    color: #E97676;
    background-color: #fff;
  }

  // Yellow Subcribe Section Styling

  .yellowFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #F0BC5E;
    //border: 3px solid red;
    width: 100%;
    height: 180px;

  }

  .subscribe {
    display: flex;
    flex-direction: column;
    height: 140px;
  }

  .subscribe h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    height: 54px;
    margin-top: 5px;

    @media only screen and (max-width: 750px) {
      font-size: 2.5rem;
    }
  }

  .subscribe h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    height: 48px;
    margin-top: 5px;

    @media only screen and (max-width: 750px) {
      font-size: 1.5rem;
    }
  }




  .email {
    display: flex;
    width: 750px;
    //border: solid blue 3px;
    justify-content: space-evenly;
    margin-bottom: 6px;
    flex: 1 1 200px;

    @media only screen and (max-width: 750px) {
      width: 500px;
    }

  }

  .email input {
    width: 280px;
    height: 54px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #C2C2C2;

    @media only screen and (max-width: 998px) {
      height: 37px;
      width: 230px;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 750px) {
      height: 27px;
      width: 197px;
      font-size: 1.2rem;
    }
  }

  .email button {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #C2C2C2;
    border: none;
    width: 280px;
    height: 54px;
    border-radius: 10px;
    cursor: pointer;

    @media only screen and (max-width: 998px) {
      height: 37px;
      width: 230px;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 750px) {
      height: 27px;
      width: 197px;
      font-size: 1.2rem;
    }

  }

  .email button:hover {
    color: #E97676;
    background-color: #fff;

  }

  .iconRow {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 10px;
    opacity: .3;

  }

  .iconRow img{
    height: auto;
    widows: auto;
    max-width: 35px;
    min-width: 35px;
  }
}