//nav
nav{
    // padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    //background-image: url(../Img/Home_page_Images/landingImage.jpg);

    

    a{
        text-decoration: none;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        width: 9%;
    }

    .logInBTN{
        margin-right: 2%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: #E97676;
        border: none;
        width: 105px;
        height: 36px;
    }


    // padding-top: 50px;

    // .homeNavBar a{
    //     width: 200px;
    // }
}